<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Helper App</title>
    <meta content="text/html; charset=utf-8" />
    <script type="text/javascript" src="../scripts/search.js"></script>
    <script type="text/javascript" src="../scripts/load.js"></script>
    <link rel="stylesheet" type="text/css" href="../view/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="in">
        <label>Pokémon: <input id="pokemon_input" type="text"/></label>
        <ul id="dropdown"></ul>
        <input type="button" onClick="back()" value="Back" />
      </div>
      <br/>
      <div id="pokemon_display">
        <div id="name">
          <h1></h1>
          <img id="sprite" src="" />
          <p id="variations"></p>
          <p id="megaEvolutions"></p>
        </div>
        <p id="type"></p>
        <p id="veryWeakTo"></p>
        <p id="weakTo"></p>
        <p id="resistTo"></p>
        <p id="veryResistantTo"></p>
        <p id="immuneTo"></p>
        <p id="abilities"></p>
        <div id="stats">
          <label><span></span><progress id="hp" value="0" max="255"></progress></label>
          <label><span></span><progress id="atk" value="0" max="255"></progress></label>
          <label><span></span><progress id="def" value="0" max="255"></progress></label>
          <label><span></span><progress id="sp_atk" value="0" max="255"></progress></label>
          <label><span></span><progress id="sp_def" value="0" max="255"></progress></label>
          <label><span></span><progress id="speed" value="0" max="255"></progress></label>
          <p id="total"></p>
        </div>
      </div>
    </div>
  </body>
</html>
