html {
  overflow-y: scroll;
}


#container {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
input[type=text] {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  font-size: 20px;
  float:right;
  margin-left: 10px;
}

input[type=button] {
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #008CBA;
  background: none;
}

input[type=button]:hover {
  background-color: #91d4ea;
  cursor: pointer;
}

label {
  font-size: 20px;
  vertical-align: baseline;
  margin: auto;
}

ul {
  margin-top: 0px;
}

#in {
  position: absolute;
  float: right;
  display: block;
  width: 70%;
  margin: auto;
  overflow: visible;
  top: 30px;
}
#in label {
  float: right;
}

#dropdown, #pokemon_input {
  width: 650px
}
#dropdown {
  top: 37px;
  overflow: visible;
  float: right;
  padding-left: 0px;
  padding-right: 8px;
  z-index: 5;
}
.suggest {
  color: #5C5C5C;
  list-style-type: none;
  font-size: 17px;
  border: 1px solid lightgrey;
  padding: 10px;
  background-color: white;
  z-index: 5;
}

.suggest:hover, .variant:hover, .mega:hover {
  cursor: pointer;
  color: #70A6FF;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#pokemon_display {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 100px;

}
#pokemon_display h1 {
  text-shadow: -1px 1px 1px rgba(0,0,0,0.4);
  display: inline-block;
}
#pokemon_display strong {
  font-size: 23px;
}
#name p {
  margin: 0px;
  width: 75%;
  margin-right: 0px;
}
#veryWeakTo strong {
  color:  #006699;
}
#weakTo strong {
  color: #006600;
}
#resistTo strong {
  color: #ff0000;
}
#veryResistantTo strong {
  color: #660066;
}
p {
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

#pokemon_display p, div {
  margin: 10px 0px 10px 2%;
}

#pokemon_display strong {
  margin-bottom: 10px;;
}

.type {
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 1px #808080;

  background-color: blue;
  vertical-align: middle;

}
#type {
  margin-top: 0px;
}

#type, #veryWeakTo, #weakTo, #resistTo, #veryResistantTo, #immuneTo {
  position: relative;
  z-index: -1;
}

#sprite {
  float: right;
  vertical-align: bottom;
  /*transform: scale(3);*/
}

img {
  position: relative;
  z-index: -1;
}

.main {
  transform: scale(0.8);
}

.icon, .main {
  vertical-align: middle;
  margin: 10px 5px;
  -webkit-filter: drop-shadow(-1px 1px 1px rgba(0,0,0,0.4));
  filter: drop-shadow(-1px 1px 1px rgba(0,0,0,0.4));
  z-index: 0;
}

#abilities li {
  list-style-type: circle;
}

#stats {
  float: left;
  width: 550px;
}
progress::-webkit-progress-value {background: black}

#stats progress {
  float: right;
  margin-left: 10px;
  width: 400px;

}

#stats label {
  display: block;
  text-align: left;
}

#stats p {
  text-align: right;
}
