#container {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
input[type=text] {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  float:right;
}

label {
  font-size: 20px;
  vertical-align: baseline;
  margin: auto;
}

ul {
  margin-top: 0px;
}

#in {
  position: absolute;
  float: right;
  display: block;
  width: 70%;
  margin: auto;
  overflow: visible;
}

#dropdown, #pokemon_input {
  width: 700px
}
#dropdown {
  top: 37px;
  overflow: visible;
  z-index: 1000;
  float: right;
  padding-left: 0px;
  padding-right: 8px;
}
.suggest {
  color: #5C5C5C;
  list-style-type: none;
  font-size: 17px;
  border: 1px solid lightgrey;
  padding: 10px;
  cursor: pointer;
}
.suggest:hover {
  color: #70A6FF;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#pokemon_display {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  float:left;
}
#pokemon_display h1 {
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
p {
  font-size: 20px;
}
